<div class="container p-5">
  <h1 class="text-center mb-5">Récapitulatif de votre demande de certification</h1>

  <h3>Vos informations :</h3>
  <div class="jumbotron bg">
    <ul>
      <li class="font-weight-bold h4"><%= @user.prefix + ' ' + @user.last_name + ' ' + @user.first_name %> </li>
        <ul>
          <li><%= @user.street_number + ' ' + @user.street %></li>
          <li><%= @user.zip_code + ' ' + @user.city %></li>
          <li>Email : <%= @user.email %></li>
          <li>Téléphone : <%= @user.phone %></li>
        </ul>
      </li>
    </ul>
  </div>
  <h3>Votre parcelle :</h3>
  <%= simple_form_for @certificate_request do |f| -%>
    <div class="form-inputs">
      <div class="form-row">
        <div class="form-goup col-sm-3">
          <%= f.input :parcel_street_number, label: "Numéro", :input_html => { :value => params["address"]["housenumber"] } %>
        </div>
        <div class="form-goup col-sm-9">
          <%= f.input :parcel_street, label: "Voie", :input_html => { :value => params["address"]["street"] } %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-goup col-sm-3">
          <%= f.input :parcel_zip_code, label: "CP", :input_html => { :value => params["address"]["postcode"] } %>
        </div>
        <div class="form-goup col-sm-9">
          <%= f.input :parcel_city, label: "Ville", :input_html => { :value => params["address"]["city"] } %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-goup col-sm-4">
          <%= f.input :parcel_section, label: "Section", :input_html => { :value => params["section"] } %>
        </div>
        <div class="form-goup col-sm-4">
          <%= f.input :parcel_number, label: "Numéro de parcelle", :input_html => { :value => params["numero"] } %>
        </div>
        <div class="form-goup col-sm-4">
          <%= f.input :parcel_area, label: "Surface (en m2)", :input_html => { :value => params["area"] } %>
        </div>
      </div>
      <div class="form-actions mt-5 d-flex justify-content-center">
        <%= f.button :submit, "Confirmer ma demande de certificat", class:"button" %>
      </div>
    </div>
  <% end -%>
</div>
