<div class="container">
  <div class="py-5">
    <div class="container">
      <h2>FICHE TECHNIQUE PARCELLE</h2>
        <div class="jumbotron bg">
          <table>
            <tbody>
              <tr>
                <td>Adresse</td>
                <td><%= "#{@address["address"]["house_number"]} #{@address["address"]["road"]}, #{@address["address"]["postcode"]} #{@address["address"]["city"].upcase}" %></td>
              </tr>
              <tr>
                <td>Superficie</td>
                <td><%= "#{@area} mètres carrés" %></td>
              </tr>
              <tr>
                <td>Numéro de parcelle</td>
                <td><%= "#{@section} #{@numero}" %></td>
              </tr>
              <tr>
                <td>Commune</td>
                <td><%= "#{@city}" %></td>
              </tr>
              <tr>
                <td>Donnés d'urbanisme</td>
                <td><%= @coordinates %></td>
              </tr>
            </tbody>
          </table>
        </div>
      <div>
        <%= link_to "Générer ma demande", new_certificate_request_path, class: "btn btn-primary btn-block" %>
      </div>
    </div>
  </div>
</div>

