<div class="container">
  <div class="py-5">
    <div class="container">
      <h2>FICHE TECHNIQUE PARCELLE</h2>
        <div class="jumbotron bg">
          <table>
            <tbody class="parcel-data">
              <tr>
                <td>Adresse :</td>
                <td><%= "#{@address["address"]["house_number"]} #{@address["address"]["road"]}, #{@address["address"]["postcode"]} #{@city.upcase}" %></td>
              </tr>
              <tr>
                <td>Superficie :</td>
                <td><%= "#{@area} mètres carrés" %></td>
              </tr>
              <tr>
                <td>Numéro de parcelle :</td>
                <td><%= "#{@section} #{@numero}" %></td>
              </tr>
              <tr>
                <td>Commune :</td>
                <td><%= "#{@city}" %></td>
              </tr>
              <tr>
                <td><div id="legalinfo" data-coordinates=<%="[#{@coordinates[0]},#{@coordinates[1]}]"%>>Données d'urbanisme :</div></td>
                <td><div id="rnu"></div></td>
              </tr>
              <tr>
                <td></td>
                <td><div id="plu"></div></td>
              </tr>
              <tr>
                <td></td>
                <td><div id="sup"></div></td>
              </tr>
            </tbody>
          </table>
        </div>
      <div class="text-center pt-2">
        <%= link_to "Confirmer parcelle", new_certificate_request_path(:address => @address,
                                                              :area => @area,
                                                              :section => @section,
                                                              :numero => @numero,
                                                              :city => @city), class: "button button-link" %>
      </div>
      <%= link_to "Retour", :back, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>

