<!DOCTYPE html>
<html>
  <head>
 
    <title>Parcelr, toutes les infos sur votre parcelle cadastrale</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src=https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js></script>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('favicon_parcelr.png') %>
    <meta name="description" content="Parcelr, la nouvelle application web pour faire des démarches d'urbanisme">
    <meta property="og:title" content="Parcelr, toutes les infos sur votre parcelle cadastrale">
    <meta property="og:image" content="https://res.cloudinary.com/parcelr/image/upload/v1592483943/banner-link-meta_e8dbek.jpg">
    <meta property="og:description" content="Parcelr, la nouvelle application web pour faire des démarches d'urbanisme">
    <meta property="og:types" content="website">
    <meta property="og:url" content="http://www.parcelr.tech">
    <meta name="keywords" content="travaux, constructions, construction, cadastre, parcelle, certificat, cerfa, plan, urbanisme, division cadastrale, parcelle patrimoniale, pure, surface parcelle, unité foncière, ">
    <meta name="robots" content="index, follow">
    <meta name="language" content="French">

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/banner' if @display_banner %>

    <div class="container main-page">
      <%= yield %>
    </div>
<!--     <p class="notice">%= notice %></p>
    <p class="alert">%= alert %></p> -->

    <%= render 'shared/flashes' %>
    <%= render 'shared/footer' %>
  </body>
</html>
