<!DOCTYPE html>
<html>
  <head>
    <meta name="title" content="Parcelr - Une demande de Certificat d'Urbanisme en quelques clics !">
    <meta name="description" content="Avec ParcelR trouvez votre parcelle cadastrale aisément et créer une demande de Certificat d'Urbanisme pour vos futures constructions. ">
    <meta name="keywords" content="travaux, constructions, construction, cadastre, parcelle, certificat, cerfa, plan, urbanisme, division cadastrale, parcelle patrimoniale, pure, surface parcelle, unité foncière, ">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="French">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src=https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js></script>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('favicon_parcelr.png') %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/banner' if @display_banner %>

    <div class="container main-page">
      <%= yield %>
    </div>
<!--     <p class="notice">%= notice %></p>
    <p class="alert">%= alert %></p> -->

    <%= render 'shared/flashes' %>
    <%= render 'shared/footer' %>
  </body>
</html>
